{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@app": "./src",
        "@mw": "./src/mw",
        "@routes": "./src/routes"
      }
    }]
  ]
}
